---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
<style>
    .categ-body .container {
        width: 100%;
        margin: 0 auto;
    }
</style>

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
    }}
{{/if}}
{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
    {{{region name="category_below_header"}}}
{{/unless}}
{{{category.description}}}
<div class="page" style="max-width: 85%; margin: 0 auto;">
    <div class="care-banner faqs-banner mt-0">
        <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/sheetssub-banner.png">
       <div class="faqs-abs-content">
           <h1 style="text-transform: capitalize; font-weight: 600;">Sheets</h1>
       </div>
   </div>
    <main class="page-content" id="product-listing-container">

        {{> components/category/product-listing}}
        {{{region name="category_below_content"}}}
    </main>

</div>

{{/partial}}
{{> layout/base}}

<script>
    var listItems = $(".productGrid").find("li.product").length;
    console.log(listItems);
    $("#gridCount .totalGrid").append(listItems);

    $('ul.selectdropdown').each(function(){
        var list=$(this),
        select=$(document.createElement('select')).insertBefore($(this).hide()).change(function(){
            window.location.href=$(this).val();
        });
        $('>li a', this).each(function(){
        var option=$(document.createElement('option'))
        .appendTo(select)
        .val(this.href)
        .html($(this).html());
        if($(this).attr('class') === 'selected'){
            option.attr('selected','selected');
        }
        });
       
    });



    $(".productGrid")
</script>

